.about {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  h2 {
    margin-bottom: 20px;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
}

