.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  a {
    color: #00bcd4;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.social-links i {
  font-size: 1.4rem;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;

  &:hover {
    color: #00bcd4;
    transform: translateY(-3px);
  }
}
