<footer class="footer py-3 mt-5" [attr.data-theme]="theme">
  <div class="container text-center">
    <p>© {{ year }} Mohammed Amaan. All Rights Reserved.</p>
    <div class="social-links mt-2">
      <a href="https://github.com/ItsAmaan09" target="_blank"><i class="fa-brands fa-github me-3"></i></a>
      <a href="https://www.linkedin.com/in/mohammed-amaan049/" target="_blank"><i class="fa-brands fa-linkedin me-3"></i></a>
      <a href="mailto:amaan894939@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>
</footer>
