<section class="contact py-5" [attr.data-theme]="theme">
  <div class="container">
    <h2 class="text-center mb-4">Get in Touch</h2>
    <!-- <p class="text-center mb-5">Have a question or want to work together? Fill out the form below.</p> -->


    <div class="row justify-content-center">
      <p>Mohammed Amaan</p>
      <p>Contact : +91 89493 99313 | +91 95490 94937</p>
      <p>Mail : <a href="mailto:amaan894939@gmail.com">amaan894939&#64;gmail.com</a></p>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-md-8">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="contactData.name" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="contactData.email" #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required >
            <div *ngIf="email.touched" class="text-danger mt-1">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['pattern']">Invalid email format</div>
            </div>
          </div>


          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea rows="4" class="form-control" name="message" [(ngModel)]="contactData.message" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="contactForm.invalid">Send Message</button>
        </form>
      </div>
    </div> -->
  </div>
</section>
